* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.venues {
    background-color: whitesmoke;
    margin-top: 1.5rem;
    text-align: center;
}
.venues > p{
    padding-top: 2.5rem;
    color: #242424;
    font-size: 50px;
}

h3{
    color: whitesmoke;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 2rem;
    /* padding-left: 5rem; */
    background-color: whitesmoke;
    /* margin-top: 4rem; */
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.card-container img {
    width: 250px;
    height: 200px;
    border-radius: 0;
}

.card-container {
    height: 325px;
    background-color: #242424;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

button {
    color: whitesmoke;
    margin-top: 1rem;
}

button:hover {
    transition: 0.75s;
    background-color: whitesmoke;
    color: #242424;
}
