*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.train-quote{
    margin-top: 13rem;
    background-color: whitesmoke;
    height: 450px;
}

.train-quote p:first-child{
    font-size: 60px;
    line-height: 1;
    color: black;
    width: 50%;
    text-align: center;
    margin: auto;
    padding-top: 2.5rem;

}

.train-quote p:last-child{
    color: black;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
    width: 70%;
}

.image {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.gallery{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}