.section-container {
    margin-top: 4rem ;
    width: 100%;
}

.section-image {
    margin: auto;
    width: 40%;
    height: 500px;
    background-image: url(../assets/images/03.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30% 5% 30% 5%;
    border: 20px solid whitesmoke ;
}

.info-container {
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;

}

form {
    background-color: whitesmoke;
    width: 100%;
    display: grid;
    padding: 1rem;
    border-radius: 15px;
    position: relative;
    bottom: 13rem ;
}

form input {
    padding: 5px;
    margin: 5px;
    border: 0; 
    border-bottom: 3px solid black;
}

textarea {
    margin-top: 1rem;
    border: 0;
}

:placeholder-shown{
    font-size: 18px;
}

.info-circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: whitesmoke;
}